0040_DeployDataFactory.template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "dataFactoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": null
        },
        "AzureKeyVaultLinkedService_baseUrl": {
            "type": "string",
            "defaultValue": null
        },
        "logAnalyticsWorkspaceName": {
            "type": "string",
            "defaultValue": null
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('dataFactoryName'))]"
    },
    "resources": [
        {
            "name": "[parameters('dataFactoryName')]",
            "apiVersion": "2018-06-01",
            "type": "Microsoft.DataFactory/factories",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
            },
            "resources": [
                {
                    "type": "providers/diagnosticSettings",
                    "name": "[concat('Microsoft.Insights/', 'mdjDataFactoryDiagSettings')]",
                    "dependsOn": [
                        "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]", 
                        "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('logAnalyticsWorkspaceName'))]"
                    ],
                    "apiVersion": "2017-05-01-preview",
                    "properties": {
                        "name": "mdjDataFactoryDiagSettings",
                        "workspaceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('logAnalyticsWorkspaceName'))]",
                        "logs": [
                            {
                                "category": "ActivityRuns",
                                "enabled": true,
                                "retentionPolicy": {
                                    "days": 30,
                                    "enabled": true
                                }
                            }, 
                            {
                                "category": "PipelineRuns",
                                "enabled": true,
                                "retentionPolicy": {
                                    "days": 30,
                                    "enabled": true
                                }
                                
                            }, 
                            {
                                "category": "TriggerRuns",
                                "enabled": true,
                                "retentionPolicy": {
                                    "days": 30,
                                    "enabled": true
                                }

                            }
                        ],
                        "metrics": [
                            {
                                "category": "AllMetrics", 
                                "enabled": true,
                                "retentionPolicy": {
                                    "enabled": true,
                                    "days": 30
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericSqlLinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "parameters": {
                    "databaseConnectionStringSecretName": {
                        "type": "string"
                    }
                },
                "annotations": [
                ],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "connectionString": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVaultLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": {
                            "value": "@linkedService().databaseConnectionStringSecretName",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultLinkedService')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/AzureKeyVaultLinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [
                ],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[parameters('AzureKeyVaultLinkedService_baseUrl')]"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericSqlTable')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "GenericSqlLinkedService",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "databaseConnectionStringSecretName": {
                            "value": "@dataset().databaseConnectionStringSecretName",
                            "type": "Expression"
                        }
                    }
                },
                "parameters": {
                    "databaseConnectionStringSecretName": {
                        "type": "string"
                    },
                    "schemaName": {
                        "type": "string"
                    },
                    "tableName": {
                        "type": "string"
                    }
                },
                "annotations": [
                ],
                "type": "AzureSqlTable",
                "schema": [
                ],
                "typeProperties": {
                    "schema": {
                        "value": "@dataset().schemaName",
                        "type": "Expression"
                    },
                    "table": {
                        "value": "@dataset().tableName",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/GenericSqlLinkedService')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericBlobCSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "GenericCSVBlobLinkedService",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "blobConnectionStringSecretName": {
                            "value": "@dataset().blobConnectionStringSecretName",
                            "type": "Expression"
                        }
                    }
                },
                "parameters": {
                    "blobConnectionStringSecretName": {
                        "type": "string",
                        "defaultValue": "blobtarget1ConnectionString"
                    },
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [
                ],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "container": "default"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                ]
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/GenericCSVBlobLinkedService')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericCSVBlobLinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "AzureBlobStorage",
                "parameters": {
                    "blobConnectionStringSecretName": {
                        "type": "string",
                        "defaultValue": ""
                    }
                },
                "annotations": [
                ],
                "typeProperties": {
                    "connectionString": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVaultLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "@{linkedService().blobConnectionStringSecretName}"
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultLinkedService')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericBlobCSVToGenericSqlTable')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "GenericBlobCSV",
                                "type": "DatasetReference"
                            },
                            "name": "ReadFromSourceCSV",
                            "typeProperties": {
                            }
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "GenericSqlTable",
                                "type": "DatasetReference"
                            },
                            "name": "WriteToGenericSqlTable"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "SourceCSVEnrichedWithMetadata"
                        }
                    ],
                    "script": "\nparameters{\n\tsourceConnectionStringSecretName as string,\n\tsinkConnectionStringSecretName as string,\n\tsourceObjectName as string,\n\ttargetObjectName as string,\n\tdataFactoryName as string,\n\tdataFactoryPipelineName as string,\n\tdataFactoryPipelineRunId as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReadFromSourceCSV\nReadFromSourceCSV derive({__sourceConnectionStringSecretName} = $sourceConnectionStringSecretName,\n\t\t{__sinkConnectionStringSecretName} = $sinkConnectionStringSecretName,\n\t\t{__sourceObjectName} = $sourceObjectName,\n\t\t{__targetObjectName} = $targetObjectName,\n\t\t{__dataFactoryName} = $dataFactoryName,\n\t\t{__dataFactoryPipelineName} = $dataFactoryPipelineName,\n\t\t{__dataFactoryPipelineRunId} = $dataFactoryPipelineRunId) ~> SourceCSVEnrichedWithMetadata\nSourceCSVEnrichedWithMetadata sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table') ~> WriteToGenericSqlTable"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/GenericBlobCSV')]",
                "[concat(variables('factoryId'), '/datasets/GenericSqlTable')]"
            ]
        },
        {
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "name": "[concat(parameters('dataFactoryName'), '/Generic Blob CSV to Generic SQL Table')]",
            "dependsOn": [
                "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]"
            ],
            "properties": {
                "activities": [
                    {
                        "name": "Get CSV File Structure",
                        "type": "GetMetadata",
                        "dependsOn": [
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                        ],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "GenericBlobCSV",
                                "type": "DatasetReference",
                                "parameters": {
                                    "blobConnectionStringSecretName": {
                                        "value": "@pipeline().parameters.blobConnectionStringSecretName",
                                        "type": "Expression"
                                    },
                                    "FileName": {
                                        "value": "@pipeline().parameters.FileName",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "structure"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobStorageReadSettings",
                                "recursive": true
                            },
                            "formatSettings": {
                                "type": "DelimitedTextReadSettings"
                            }
                        }
                    },
                    {
                        "name": "Find or Create Target View",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Get CSV File Structure",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderStoredProcedureName": "[[utils].[sp_FindOrCreateTargetView]",
                                "storedProcedureParameters": {
                                    "FileName": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.FileName",
                                            "type": "Expression"
                                        }
                                    },
                                    "MultipleMatches": {
                                        "type": "Boolean",
                                        "value": null
                                    },
                                    "SchemaName": {
                                        "type": "String",
                                        "value": null
                                    },
                                    "SuppliedStructure": {
                                        "type": "String",
                                        "value": {
                                            "value": "@{activity('Get CSV File Structure').output.structure}",
                                            "type": "Expression"
                                        }
                                    },
                                    "ViewName": {
                                        "type": "String",
                                        "value": null
                                    }
                                }
                            },
                            "dataset": {
                                "referenceName": "GenericSqlTable",
                                "type": "DatasetReference",
                                "parameters": {
                                    "databaseConnectionStringSecretName": {
                                        "value": "@pipeline().parameters.databaseConnectionStringSecretName",
                                        "type": "Expression"
                                    },
                                    "schemaName": "foo",
                                    "tableName": "bar"
                                }
                            }
                        }
                    },
                    {
                        "name": "GenericBlobCSVtoGenericSqlTable",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "Find or Create Target View",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                        ],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "GenericBlobCSVtoGenericSqlTable",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "sourceConnectionStringSecretName": {
                                        "value": "'@{pipeline().parameters.blobConnectionStringSecretName}'",
                                        "type": "Expression"
                                    },
                                    "sinkConnectionStringSecretName": {
                                        "value": "'@{pipeline().parameters.databaseConnectionStringSecretName}'",
                                        "type": "Expression"
                                    },
                                    "sourceObjectName": {
                                        "value": "'@{pipeline().parameters.FileName}'",
                                        "type": "Expression"
                                    },
                                    "targetObjectName": {
                                        "value": "'concat('[', @{activity('Find or Create Target View').output.firstRow.SchemaName}, '].[', @{activity('Find or Create Target View').output.firstRow.ViewName}, ']')'",
                                        "type": "Expression"
                                    },
                                    "dataFactoryName": {
                                        "value": "'@{pipeline().DataFactory}'",
                                        "type": "Expression"
                                    },
                                    "dataFactoryPipelineName": {
                                        "value": "'@{pipeline().Pipeline}'",
                                        "type": "Expression"
                                    },
                                    "dataFactoryPipelineRunId": {
                                        "value": "'@{pipeline().RunId}'",
                                        "type": "Expression"
                                    }
                                },
                                "datasetParameters": {
                                    "ReadFromSource": {
                                        "blobConnectionStringSecretName": {
                                            "value": "@pipeline().parameters.blobConnectionStringSecretName",
                                            "type": "Expression"
                                        },
                                        "FileName": {
                                            "value": "@pipeline().parameters.FileName",
                                            "type": "Expression"
                                        }
                                    },
                                    "WriteToSink": {
                                        "databaseConnectionStringSecretName": {
                                            "value": "@pipeline().parameters.databaseConnectionStringSecretName",
                                            "type": "Expression"
                                        },
                                        "schemaName": {
                                            "value": "@activity('Find or Create Target View').output.firstRow.SchemaName",
                                            "type": "Expression"
                                        },
                                        "tableName": {
                                            "value": "@activity('Find or Create Target View').output.firstRow.ViewName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            },
                            "staging": {
                            }
                        }
                    }
                ],
                "parameters": {
                    "blobConnectionStringSecretName": {
                        "type": "string"
                    },
                    "databaseConnectionStringSecretName": {
                        "type": "string"
                    },
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [
                ]
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces",
            "name": "[parameters('logAnalyticsWorkspaceName')]",
            "apiVersion": "2015-11-01-preview",
            "location": "[resourceGroup().location]",
            "properties": {
                "sku": {
                    "name": "pergb2018"
                },
                "retentionInDays": 30
            }
        },
        {
            "type": "Microsoft.OperationsManagement/solutions",
            "apiVersion": "2015-11-01-preview",
            "name": "[concat('AzureDataFactoryAnalytics', '(', parameters('logAnalyticsWorkspaceName'), ')')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('logAnalyticsWorkspaceName'))]"
            ],
            "plan": {
                "name": "[concat('AzureDataFactoryAnalytics', '(', parameters('logAnalyticsWorkspaceName'), ')')]",
                "product": "[concat('OMSGallery/', 'AzureDataFactoryAnalytics')]",
                "promotionCode": "",
                "publisher": "Microsoft"
            },
            "properties": {
                "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('logAnalyticsWorkspaceName'))]"
            },
            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationsManagement/solutions/', 'AzureDataFactoryAnalytics', '(', parameters('logAnalyticsWorkspaceName'), ')')]",
            "copy": {
                "name": "solutionsCopy",
                "count": 1
            }
        }
    ]
}