templateAndParameters/0040_DeployDataFactory.template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "dataFactoryName": {
            "type": "string",
            "defaultValue": null
        },
        "keyVaultName": {
            "type": "string"
        },
        "keyVaultLinkedService_baseUrl": {
            "type": "string",
            "defaultValue": null
        },
        "logAnalyticsWorkspaceName": {
            "type": "string",
            "defaultValue": null
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('dataFactoryName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.KeyVault/vaults",
            "apiVersion": "2016-10-01",
            "name": "[parameters('keyVaultName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "sku": {
                    "family": "A",
                    "name": "Standard"
                },
                "tenantId": "[subscription().tenantId]",
                "accessPolicies": [
                    {
                        "tenantId": "[subscription().tenantId]",
                        "objectId": "[parameters('userObjectId')]",
                        "permissions": {
                            "keys": [
                                "Get",
                                "List",
                                "Update",
                                "Create",
                                "Import",
                                "Delete",
                                "Recover",
                                "Backup",
                                "Restore"
                            ],
                            "secrets": [
                                "Get",
                                "List",
                                "Set",
                                "Delete",
                                "Recover",
                                "Backup",
                                "Restore"
                            ],
                            "certificates": [
                                "Get",
                                "List",
                                "Update",
                                "Create",
                                "Import",
                                "Delete",
                                "Recover",
                                "Backup",
                                "Restore",
                                "ManageContacts",
                                "ManageIssuers",
                                "GetIssuers",
                                "ListIssuers",
                                "SetIssuers",
                                "DeleteIssuers"
                            ]
                        }
                    }
                ],
                "enabledForDeployment": false,
                "enabledForDiskEncryption": false,
                "enabledForTemplateDeployment": false
            }
        },
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "name": "[concat(parameters('keyVaultName'), '/targetDatabase1ConnectionString')]",
            "apiVersion": "2018-02-14",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
            ],
            "properties": {
                "value": "[concat('Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=', parameters('targetDatabase1ServerName'), '.database.windows.net;Initial Catalog=', parameters('targetDatabase1DatabaseName'), ';User ID=', parameters('targetDatabase1SqlOpsUserName'), ';Password=', parameters('targetDatabase1SqlOpsPassword'))]"
            }
        },
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "name": "[concat(parameters('keyVaultName'), '/targetDatabase2ConnectionString')]",
            "apiVersion": "2018-02-14",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
            ],
            "properties": {
                "value": "[concat('Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=', parameters('targetDatabase2ServerName'), '.database.windows.net;Initial Catalog=', parameters('targetDatabase2DatabaseName'), ';User ID=', parameters('targetDatabase2SqlOpsUserName'), ';Password=', parameters('targetDatabase2SqlOpsPassword'))]"
            }
        }, 
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "name": "[concat(parameters('keyVaultName'), '/targetblob1ConnectionString')]",
            "apiVersion": "2018-02-14",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccount1Name'))]", 
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
            ],
            "properties": {
                "value": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('StorageAccount1Name'),';AccountKey=',listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('StorageAccount1Name')), providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]).keys[0].value, ';EndpointSuffix=core.windows.net')]"
            }
        }, 
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "name": "[concat(parameters('keyVaultName'), '/targetblob2ConnectionString')]",
            "apiVersion": "2018-02-14",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccount2Name'))]", 
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
            ],
            "properties": {
                "value": "[concat('DefaultEndpointsProtocol=https;AccountName=',parameters('StorageAccount2Name'),';AccountKey=',listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('StorageAccount2Name')), providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]).keys[0].value, ';EndpointSuffix=core.windows.net')]"
            }
        },         
        { 
            "name": "[parameters('dataFactoryName')]",
            "apiVersion": "2018-06-01",
            "type": "Microsoft.DataFactory/factories",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
            },
            "resources": [
                {
                    "type": "providers/diagnosticSettings",
                    "name": "[concat('Microsoft.Insights/', 'mdjDataFactoryDiagSettings')]",
                    "dependsOn": [
                        "[variables('factoryId')]",
                        "[resourceId('Microsoft.DataFactory/factories', parameters('dataFactoryName'))]", 
                        "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('logAnalyticsWorkspaceName'))]"
                    ],
                    "apiVersion": "2017-05-01-preview",
                    "properties": {
                        "name": "mdjDataFactoryDiagSettings",
                        "workspaceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('logAnalyticsWorkspaceName'))]",
                        "logs": [
                            {
                                "category": "ActivityRuns",
                                "enabled": true,
                                "retentionPolicy": {
                                    "days": 30,
                                    "enabled": true
                                }
                            }, 
                            {
                                "category": "PipelineRuns",
                                "enabled": true,
                                "retentionPolicy": {
                                    "days": 30,
                                    "enabled": true
                                }
                                
                            }, 
                            {
                                "category": "TriggerRuns",
                                "enabled": true,
                                "retentionPolicy": {
                                    "days": 30,
                                    "enabled": true
                                }
                            }
                        ],
                        "metrics": [
                            {
                                "category": "AllMetrics", 
                                "enabled": true,
                                "retentionPolicy": {
                                    "enabled": true,
                                    "days": 30
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/AzureKeyVaultLinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [
                ],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[parameters('keyVaultLinkedService_baseUrl')]"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]", 
                "[variables('keyVaultId')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericSqlTable')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "GenericSqlLinkedService",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "databaseConnectionStringSecretName": {
                            "value": "@dataset().databaseConnectionStringSecretName",
                            "type": "Expression"
                        }
                    }
                },
                "parameters": {
                    "databaseConnectionStringSecretName": {
                        "type": "string"
                    },
                    "schemaName": {
                        "type": "string"
                    },
                    "tableName": {
                        "type": "string"
                    }
                },
                "annotations": [
                ],
                "type": "AzureSqlTable",
                "schema": [
                ],
                "typeProperties": {
                    "schema": {
                        "value": "@dataset().schemaName",
                        "type": "Expression"
                    },
                    "table": {
                        "value": "@dataset().tableName",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/GenericSqlLinkedService')]"
            ]
        }, 
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericBlobSingleCSV')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "GenericBlobSingleCSVLinkedService",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "blobConnectionStringSecretName": {
                            "value": "@dataset().blobConnectionStringSecretName",
                            "type": "Expression"
                        }
                    }
                },
                "parameters": {
                    "blobConnectionStringSecretName": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    },
                    "fileDirectory": {
                        "type": "string",
                        "defaultValue": null
                    },
                    "containerName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().fileDirectory",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@dataset().containerName",
                            "type": "Expression"
                        }
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/GenericBlobSingleCSVLinkedService')]"
            ]
        },
        {  
            "name": "[concat(parameters('dataFactoryName'), '/GenericSqlLinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "parameters": {
                    "databaseConnectionStringSecretName": {
                        "type": "string"
                    }
                },
                "annotations": [
                ],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "connectionString": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVaultLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": {
                            "value": "@linkedService().databaseConnectionStringSecretName",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultLinkedService')]"
            ]
        },        
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericBlobSingleCSVLinkedService')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "AzureBlobStorage",
                "parameters": {
                    "blobConnectionStringSecretName": {
                        "type": "string"
                    }
                },
                "annotations": [
                ],
                "typeProperties": {
                    "connectionString": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVaultLinkedService",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "@{linkedService().blobConnectionStringSecretName}"
                    }
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultLinkedService')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/GenericBlobSingleCSVToGenericSqlTable')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "GenericBlobSingleCSV",
                                "type": "DatasetReference"
                            },
                            "name": "ReadFromSourceSingleCSV",
                            "typeProperties": {}
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "GenericSqlTable",
                                "type": "DatasetReference"
                            },
                            "name": "WriteToGenericSqlTable"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "SourceSingleCSVEnrichedWithMetadata"
                        }
                    ],
                    "script": "\nparameters{\n\tsourceConnectionStringSecretName as string,\n\tsinkConnectionStringSecretName as string,\n\tsourceObjectName as string,\n\ttargetObjectName as string,\n\tdataFactoryName as string,\n\tdataFactoryPipelineName as string,\n\tdataFactoryPipelineRunId as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReadFromSourceSingleCSV\nReadFromSourceSingleCSV derive({__sourceConnectionStringSecretName} = $sourceConnectionStringSecretName,\n\t\t{__sinkConnectionStringSecretName} = $sinkConnectionStringSecretName,\n\t\t{__sourceObjectName} = $sourceObjectName,\n\t\t{__targetObjectName} = $targetObjectName,\n\t\t{__dataFactoryName} = $dataFactoryName,\n\t\t{__dataFactoryPipelineName} = $dataFactoryPipelineName,\n\t\t{__dataFactoryPipelineRunId} = $dataFactoryPipelineRunId) ~> SourceSingleCSVEnrichedWithMetadata\nSourceSingleCSVEnrichedWithMetadata sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table') ~> WriteToGenericSqlTable"
                }
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/datasets/GenericBlobSingleCSV')]",
                "[concat(variables('factoryId'), '/datasets/GenericSqlTable')]"
            ]
        },
        {
            "name": "[concat(parameters('dataFactoryName'), '/Generic Blob Single CSV to Generic SQL Table using Data Flow')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get CSV File Structure",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "GenericBlobSingleCSV",
                                "type": "DatasetReference",
                                "parameters": {
                                    "blobConnectionStringSecretName": {
                                        "value": "@pipeline().parameters.blobConnectionStringSecretName",
                                        "type": "Expression"
                                    },
                                    "fileName": {
                                        "value": "@pipeline().parameters.FileName",
                                        "type": "Expression"
                                    },
                                    "fileDirectory": {
                                        "value": "@pipeline().parameters.FileDirectory",
                                        "type": "Expression"
                                    },
                                    "containerName": {
                                        "value": "@pipeline().parameters.containerName",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "fieldList": [
                                "structure"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobStorageReadSettings",
                                "recursive": true
                            },
                            "formatSettings": {
                                "type": "DelimitedTextReadSettings"
                            }
                        }
                    },
                                       {
                        "name": "Find or Create Target Table",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Get CSV File Structure",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderStoredProcedureName": "[[utils].[sp_FindOrCreateTargetTable]",
                                "storedProcedureParameters": {
                                    "ContainerName": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        }
                                    },
                                    "FileName": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.fileName",
                                            "type": "Expression"
                                        }
                                    },
                                    "FilePath": {
                                        "type": "String",
                                        "value": {
                                            "value": "@pipeline().parameters.fileDirectory",
                                            "type": "Expression"
                                        }
                                    },
                                    "MultipleMatches": {
                                        "type": "Boolean",
                                        "value": null
                                    },
                                    "SchemaName": {
                                        "type": "String",
                                        "value": null
                                    },
                                    "SuppliedStructure": {
                                        "type": "String",
                                        "value": {
                                            "value": "@{activity('Get CSV File Structure').output.structure}",
                                            "type": "Expression"
                                        }
                                    },
                                    "TableName": {
                                        "type": "String",
                                        "value": null
                                    }
                                }
                            },
                            "dataset": {
                                "referenceName": "GenericSqlTable",
                                "type": "DatasetReference",
                                "parameters": {
                                    "databaseConnectionStringSecretName": {
                                        "value": "@pipeline().parameters.databaseConnectionStringSecretName",
                                        "type": "Expression"
                                    },
                                    "schemaName": "foo",
                                    "tableName": "bar"
                                }
                            }
                        }
                    },
                    {
                        "name": "GenericBlobSingleCSVtoGenericSqlTable",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "Find or Create Target Table",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "GenericBlobSingleCSVToGenericSqlTable",
                                "type": "DataFlowReference",
                                "parameters": {
                                    "sourceConnectionStringSecretName": {
                                        "value": "'@{pipeline().parameters.blobConnectionStringSecretName}'",
                                        "type": "Expression"
                                    },
                                    "sinkConnectionStringSecretName": {
                                        "value": "'@{pipeline().parameters.databaseConnectionStringSecretName}'",
                                        "type": "Expression"
                                    },
                                    "sourceObjectName": {
                                        "value": "'@{pipeline().parameters.FileName}'",
                                        "type": "Expression"
                                    },
                                    "targetObjectName": {
                                        "value": "'@{concat('[', activity('Find or Create Target Table').output.firstRow.SchemaName, '].[', activity('Find or Create Target Table').output.firstRow.TableName, ']')}'",
                                        "type": "Expression"
                                    },
                                    "dataFactoryName": {
                                        "value": "'@{pipeline().DataFactory}'",
                                        "type": "Expression"
                                    },
                                    "dataFactoryPipelineName": {
                                        "value": "'@{pipeline().Pipeline}'",
                                        "type": "Expression"
                                    },
                                    "dataFactoryPipelineRunId": {
                                        "value": "'@{pipeline().RunId}'",
                                        "type": "Expression"
                                    }
                                },
                                "datasetParameters": {
                                    "ReadFromSourceSingleCSV": {
                                        "blobConnectionStringSecretName": {
                                            "value": "@pipeline().parameters.blobConnectionStringSecretName",
                                            "type": "Expression"
                                        },
                                        "fileName": {
                                            "value": "@pipeline().parameters.FileName",
                                            "type": "Expression"
                                        },
                                        "fileDirectory": {
                                            "value": "@pipeline().parameters.FileDirectory",
                                            "type": "Expression"
                                        },
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        }
                                    },
                                    "WriteToGenericSqlTable": {
                                        "databaseConnectionStringSecretName": {
                                            "value": "@pipeline().parameters.databaseConnectionStringSecretName",
                                            "type": "Expression"
                                        },
                                        "schemaName": {
                                            "value": "@activity('Find or Create Target Table').output.firstRow.SchemaName",
                                            "type": "Expression"
                                        },
                                        "tableName": {
                                            "value": "@activity('Find or Create Target Table').output.firstRow.TableName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            },
                            "staging": {}
                        }
                    }
                ],
                "parameters": {
                    "blobConnectionStringSecretName": {
                        "type": "string"
                    },
                    "databaseConnectionStringSecretName": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    },
                    "fileDirectory": {
                        "type": "string"
                    },
                    "containerName": {
                        "type": "string"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[variables('factoryId')]",
                "[concat(variables('factoryId'), '/datasets/GenericBlobSingleCSV')]",
                "[concat(variables('factoryId'), '/datasets/GenericSqlTable')]",
                "[concat(variables('factoryId'), '/dataflows/GenericBlobSingleCSVToGenericSqlTable')]"
            ]
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces",
            "name": "[parameters('logAnalyticsWorkspaceName')]",
            "apiVersion": "2015-11-01-preview",
            "location": "[resourceGroup().location]",
            "properties": { 
                "sku": {
                    "name": "pergb2018"
                },
                "retentionInDays": 30
            }
        },
        {
            "type": "Microsoft.OperationsManagement/solutions",
            "apiVersion": "2015-11-01-preview",
            "name": "[concat('AzureDataFactoryAnalytics', '(', parameters('logAnalyticsWorkspaceName'), ')')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('logAnalyticsWorkspaceName'))]"
            ],
            "plan": {
                "name": "[concat('AzureDataFactoryAnalytics', '(', parameters('logAnalyticsWorkspaceName'), ')')]",
                "product": "OMSGallery/AzureDataFactoryAnalytics",
                "promotionCode": "",
                "publisher": "Microsoft"
            },
            "properties": {
                "workspaceResourceId": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('logAnalyticsWorkspaceName'))]"
            },
            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationsManagement/solutions/', 'AzureDataFactoryAnalytics', '(', parameters('logAnalyticsWorkspaceName'), ')')]",
            "copy": {
                "name": "solutionsCopy",
                "count": 1
            }
        }
    ]
}