mdjDataFactory/PartialArmTemplates/ArmTemplate_12_28_2019_18_21_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mdjDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source to Sink",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "azureBlobSingleCsvFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleCSVFileName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleCsvFileName",
										"type": "Expression"
									},
									"azureBlobSingleCSVFolderPath": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleCsvFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleCSVContainerName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleCsvContainerName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "azureBlobSingleParquetFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.sinkAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleParquetContainerName": {
										"value": "@pipeline().parameters.sinkAzureBlobSingleParquetContainerName",
										"type": "Expression"
									},
									"azureBlobSingleParquetFolderPath": {
										"value": "@pipeline().parameters.sinkAzureBlobSingleParquetFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleParquetFileName": {
										"value": "@pipeline().parameters.sinkAzureBlobSingleParquetFileName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Decide If Delete Original File",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Source to Sink",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.deleteSourceFile",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Exec Pipeline Azure Blob Delete Single File",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Azure Blob Delete Single Csv File Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"azureBlobConnectionStringSecretName": {
												"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
												"type": "Expression"
											},
											"azureBlobContainerName": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleCsvContainerName",
												"type": "Expression"
											},
											"azureBlobFolderPath": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleCsvFolderPath",
												"type": "Expression"
											},
											"azureBlobFileName": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleCsvFileName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"sourceAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"sourceAzureBlobSingleCsvContainerName": {
						"type": "string"
					},
					"sourceAzureBlobSingleCsvFolderPath": {
						"type": "string"
					},
					"sourceAzureBlobSingleCsvFileName": {
						"type": "string"
					},
					"sinkAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"sinkAzureBlobSingleParquetContainerName": {
						"type": "string"
					},
					"sinkAzureBlobSingleParquetFolderPath": {
						"type": "string"
					},
					"sinkAzureBlobSingleParquetFileName": {
						"type": "string"
					},
					"deleteSourceFile": {
						"type": "bool"
					}
				},
				"folder": {
					"name": "Source Azure Blob Single Csv/Copy"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azureBlobSingleParquetFileNameDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azureBlobSingleParquetFileNameDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azureBlobLinkedService",
					"type": "LinkedServiceReference",
					"parameters": {
						"azureBlobConnectionStringSecretName": {
							"value": "@dataset().azureBlobConnectionStringSecretName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"azureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"azureBlobSingleParquetContainerName": {
						"type": "string"
					},
					"azureBlobSingleParquetFolderPath": {
						"type": "string"
					},
					"azureBlobSingleParquetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Source Azure Blob Single Parquet"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().azureBlobSingleParquetFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().azureBlobSingleParquetFolderPath",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().azureBlobSingleParquetContainerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}