mdjDataFactory/PartialArmTemplates/ArmTemplate_1_8_2020_11_34_21.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mdjDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure Blob Single Json to Azure Sql Database Table Copy Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Decide If Delete Original File",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Import CSV from temp storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.deleteSourceFile",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Exec Pipeline Azure Blob Delete Single File",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Azure Blob Delete Single Csv File Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"azureBlobConnectionStringSecretName": {
												"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
												"type": "Expression"
											},
											"azureBlobContainerName": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleJsonContainerName",
												"type": "Expression"
											},
											"azureBlobFolderPath": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFolderPath",
												"type": "Expression"
											},
											"azureBlobFileName": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFileName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Create Flattened CSV Representation of Json Source",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "azureBlobSingleJsonFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleJsonContainerName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonContainerName",
										"type": "Expression"
									},
									"azureBlobSingleJsonFolderPath": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleJsonFileName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "azureBlobSingleCsvFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.tempAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleCSVFileName": {
										"value": "@pipeline().parameters.tempAzureBlobSingleCsvFileName",
										"type": "Expression"
									},
									"azureBlobSingleCSVFolderPath": {
										"value": "@pipeline().parameters.tempAzureBlobSingleCsvFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleCSVContainerName": {
										"value": "@pipeline().parameters.tempAzureBlobSingleCsvContainerName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Import CSV from temp storage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create Flattened CSV Representation of Json Source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourceAzureBlobConnectionStringSecretName": {
									"value": "@pipeline().parameters.tempAzureBlobConnectionStringSecretName",
									"type": "Expression"
								},
								"sourceAzureBlobSingleCsvContainerName": {
									"value": "@pipeline().parameters.tempAzureBlobSingleCsvContainerName",
									"type": "Expression"
								},
								"sourceAzureBlobSingleCsvFolderPath": {
									"value": "@pipeline().parameters.tempAzureBlobSingleCsvFolderPath",
									"type": "Expression"
								},
								"sourceAzureBlobSingleCsvFileName": {
									"value": "@pipeline().parameters.tempAzureBlobSingleCsvFileName",
									"type": "Expression"
								},
								"sinkAzureSqlDatabaseConnectionStringSecretName": {
									"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
									"type": "Expression"
								},
								"truncatePriorToCopy": {
									"value": "@pipeline().parameters.truncatePriorToCopy",
									"type": "Expression"
								},
								"deleteSourceFile": "true",
								"sinkAzureSqlDatabaseTableSchemaName": {
									"value": "@pipeline().parameters.sinkAzureSqlDatabaseTableSchemaName",
									"type": "Expression"
								},
								"sinkAzureSqlDatabaseTableTableName": {
									"value": "@pipeline().parameters.sinkAzureSqlDatabaseTableTableName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"sourceAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"sourceAzureBlobSingleJsonContainerName": {
						"type": "string"
					},
					"sourceAzureBlobSingleJsonFolderPath": {
						"type": "string"
					},
					"sourceAzureBlobSingleJsonFileName": {
						"type": "string"
					},
					"sinkAzureSqlDatabaseConnectionStringSecretName": {
						"type": "string"
					},
					"sinkAzureSqlDatabaseTableSchemaName": {
						"type": "string"
					},
					"sinkAzureSqlDatabaseTableTableName": {
						"type": "string"
					},
					"deleteSourceFile": {
						"type": "bool"
					},
					"truncatePriorToCopy": {
						"type": "string"
					},
					"tempAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"tempAzureBlobSingleCsvContainerName": {
						"type": "string"
					},
					"tempAzureBlobSingleCsvFolderPath": {
						"type": "string"
					},
					"tempAzureBlobSingleCsvFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Source Azure Blob Single Json/Copy"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test Source Azure Blob Single Json')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AzBlb1Json2AzBlb1CsvCopy",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Azure Blob Single Json to Azure Blob Single Csv Copy Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourceAzureBlobConnectionStringSecretName": {
									"value": "@variables('sourceAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonContainerName": {
									"value": "@variables('sourceAzureBlobSingleJsonContainerName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFolderPath": {
									"value": "@variables('sourceAzureBlobSingleJsonFolderPath')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFileName": {
									"value": "@variables('sourceAzureBlobSingleJsonFileName')",
									"type": "Expression"
								},
								"sinkAzureBlobConnectionStringSecretName": {
									"value": "@variables('sinkAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleCsvContainerName": {
									"value": "@variables('sinkAzureBlobSingleCsvContainerName')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleCsvFolderPath": {
									"value": "@variables('sinkAzureBlobSingleCsvFolderPath')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleCsvFileName": {
									"value": "@replace(replace(replace(variables('sinkAzureBlobSingleCsvFileName'), '<source>', 'AzBlb1Json'), '<sink>', 'AzBlb1Csv'), '<method>', 'Cp')",
									"type": "Expression"
								},
								"deleteSourceFile": {
									"value": "@variables('deleteSourceFile')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "AzBlb1Json2AzBlb1JsonCopy",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Azure Blob Single Json to Azure Blob Single Json Copy Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourceAzureBlobConnectionStringSecretName": {
									"value": "@variables('sourceAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonContainerName": {
									"value": "@variables('sourceAzureBlobSingleJsonContainerName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFolderPath": {
									"value": "@variables('sourceAzureBlobSingleJsonFolderPath')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFileName": {
									"value": "@variables('sourceAzureBlobSingleJsonFileName')",
									"type": "Expression"
								},
								"sinkAzureBlobConnectionStringSecretName": {
									"value": "@variables('sinkAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleJsonContainerName": {
									"value": "@variables('sinkAzureBlobSingleJsonContainerName')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleJsonFolderPath": {
									"value": "@variables('sinkAzureBlobSingleJsonFileName')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleJsonFileName": {
									"value": "@variables('sinkAzureBlobSingleJsonFileName')",
									"type": "Expression"
								},
								"deleteSourceFile": {
									"value": "@variables('deleteSourceFile')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "AzBlb1Json2AzBlb1PrqtCopy",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Azure Blob Single Json to Azure Blob Single Parquet Copy Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourceAzureBlobConnectionStringSecretName": {
									"value": "@variables('sourceAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonContainerName": {
									"value": "@variables('sourceAzureBlobSingleJsonContainerName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFolderPath": {
									"value": "@variables('sourceAzureBlobSingleJsonFolderPath')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFileName": {
									"value": "@variables('sourceAzureBlobSingleJsonFileName')",
									"type": "Expression"
								},
								"sinkAzureBlobConnectionStringSecretName": {
									"value": "@variables('sinkAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleParquetContainerName": {
									"value": "@variables('sinkAzureBlobSingleParquetContainerName')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleParquetFolderPath": {
									"value": "@variables('sinkAzureBlobSingleParquetFolderPath')",
									"type": "Expression"
								},
								"sinkAzureBlobSingleParquetFileName": {
									"value": "@variables('sinkAzureBlobSingleParquetFileName')",
									"type": "Expression"
								},
								"deleteSourceFile": {
									"value": "@variables('deleteSourceFile')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "AzBlb1Json2AzSqlDbTblCopy",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Azure Blob Single Json to Azure Sql Database Table Copy Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourceAzureBlobConnectionStringSecretName": {
									"value": "@variables('sourceAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonContainerName": {
									"value": "@variables('sourceAzureBlobSingleJsonContainerName')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFolderPath": {
									"value": "@variables('sourceAzureBlobSingleJsonFolderPath')",
									"type": "Expression"
								},
								"sourceAzureBlobSingleJsonFileName": {
									"value": "@variables('sourceAzureBlobSingleJsonFileName')",
									"type": "Expression"
								},
								"sinkAzureSqlDatabaseConnectionStringSecretName": {
									"value": "@variables('sinkAzureSqlDatabaseConnectionStringSecretName')",
									"type": "Expression"
								},
								"sinkAzureSqlDatabaseTableSchemaName": {
									"value": "@variables('sinkAzureSqlDatabaseTableSchemaName')",
									"type": "Expression"
								},
								"sinkAzureSqlDatabaseTableTableName": {
									"value": "@replace(replace(replace(variables('sinkAzureSqlDatabaseTableTableName'), '<source>', 'AzBlb1Json'), '<sink>', 'AzSqlDbTbl'), '<method>', 'Cp')",
									"type": "Expression"
								},
								"deleteSourceFile": {
									"value": "@variables('deleteSourceFile')",
									"type": "Expression"
								},
								"truncatePriorToCopy": {
									"value": "@variables('truncatePriorToCopy')",
									"type": "Expression"
								},
								"tempAzureBlobConnectionStringSecretName": {
									"value": "@variables('tempAzureBlobConnectionStringSecretName')",
									"type": "Expression"
								},
								"tempAzureBlobSingleCsvContainerName": {
									"value": "@variables('tempAzureBlobSingleCsvContainerName')",
									"type": "Expression"
								},
								"tempAzureBlobSingleCsvFolderPath": {
									"value": "@variables('tempAzureBlobSingleCsvFolderPath')",
									"type": "Expression"
								},
								"tempAzureBlobSingleCsvFileName": {
									"value": "@variables('tempAzureBlobSingleCsvFileName')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"variables": {
					"sourceAzureBlobConnectionStringSecretName": {
						"type": "String",
						"defaultValue": "mdjstorageaccount1AccountKeyConnectionString"
					},
					"sourceAzureBlobSingleJsonContainerName": {
						"type": "String",
						"defaultValue": "default"
					},
					"sourceAzureBlobSingleJsonFolderPath": {
						"type": "String",
						"defaultValue": "input/json/singleFiles"
					},
					"sourceAzureBlobSingleJsonFileName": {
						"type": "String",
						"defaultValue": "0010_deployAzureDemoResources.template.json"
					},
					"sinkAzureBlobConnectionStringSecretName": {
						"type": "String",
						"defaultValue": "mdjstorageaccount2AccountKeyConnectionString"
					},
					"sinkAzureBlobSingleCsvContainerName": {
						"type": "String",
						"defaultValue": "default"
					},
					"sinkAzureBlobSingleCsvFolderPath": {
						"type": "String",
						"defaultValue": "output/csv/singleFiles"
					},
					"sinkAzureBlobSingleCsvFileName": {
						"type": "String",
						"defaultValue": "0010_deployAzureDemoResources.template.<source>2<sink><method>.csv"
					},
					"sinkAzureBlobSingleJsonContainerName": {
						"type": "String",
						"defaultValue": "default"
					},
					"sinkAzureBlobSingleJsonFolderPath": {
						"type": "String",
						"defaultValue": "output/json/singleFiles"
					},
					"sinkAzureBlobSingleJsonFileName": {
						"type": "String",
						"defaultValue": "0010_deployAzureDemoResources.template.<source>2<sink><method>.json"
					},
					"sinkAzureBlobSingleParquetContainerName": {
						"type": "String",
						"defaultValue": "default"
					},
					"sinkAzureBlobSingleParquetFolderPath": {
						"type": "String",
						"defaultValue": "output/parquet/singleFiles"
					},
					"sinkAzureBlobSingleParquetFileName": {
						"type": "String",
						"defaultValue": "0010_deployAzureDemoResources.template.<source>2<sink><method>.parquet"
					},
					"sinkAzureSqlDatabaseConnectionStringSecretName": {
						"type": "String",
						"defaultValue": "mdjdatabaseserver2-DB2-mdjdatabase2sqlopsSqlAuthConnectionString"
					},
					"sinkAzureSqlDatabaseTableSchemaName": {
						"type": "String",
						"defaultValue": "utils"
					},
					"sinkAzureSqlDatabaseTableTableName": {
						"type": "String",
						"defaultValue": "0010_deployAzureDemoResources.template.<source>2<sink><method>"
					},
					"deleteSourceFile": {
						"type": "Boolean"
					},
					"truncatePriorToCopy": {
						"type": "Boolean",
						"defaultValue": true
					},
					"tempAzureBlobConnectionStringSecretName": {
						"type": "String",
						"defaultValue": "mdjstorageaccountconfigAccountKeyConnectionString"
					},
					"tempAzureBlobSingleCsvContainerName": {
						"type": "String",
						"defaultValue": "default"
					},
					"tempAzureBlobSingleCsvFolderPath": {
						"type": "String",
						"defaultValue": "output/csv/singleFiles"
					},
					"tempAzureBlobSingleCsvFileName": {
						"type": "String",
						"defaultValue": "0010_deployAzureDemoResources.template.<source>2<sink><method>.csv"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Azure Blob Single Json to Azure Sql Database Table Copy Pipeline')]"
			]
		}
	]
}