mdjDataFactory/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mdjDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure Blob Single Json to Azure Sql Database Table Copy Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Decide If Delete Original File",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Import CSV from temp storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@pipeline().parameters.deleteSourceFile",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Exec Pipeline Azure Blob Delete Single File",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Azure Blob Delete Single Csv File Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"azureBlobConnectionStringSecretName": {
												"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
												"type": "Expression"
											},
											"azureBlobContainerName": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleJsonContainerName",
												"type": "Expression"
											},
											"azureBlobFolderPath": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFolderPath",
												"type": "Expression"
											},
											"azureBlobFileName": {
												"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFileName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Create Flattened CSV Representation of Json Source",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "azureBlobSingleJsonFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleJsonContainerName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonContainerName",
										"type": "Expression"
									},
									"azureBlobSingleJsonFolderPath": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleJsonFileName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "azureBlobSingleCsvFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.tempAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleCSVFileName": {
										"value": "@pipeline().parameters.tempAzureBlobFileName",
										"type": "Expression"
									},
									"azureBlobSingleCSVFolderPath": {
										"value": "@pipeline().parameters.tempAzureBlobFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleCSVContainerName": {
										"value": "@pipeline().parameters.tempAzureBlobContainerName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Import CSV from temp storage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create Flattened CSV Representation of Json Source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"sourceAzureBlobConnectionStringSecretName": {
									"value": "@pipeline().parameters.tempAzureBlobConnectionStringSecretName",
									"type": "Expression"
								},
								"sourceAzureBlobSingleCsvContainerName": {
									"value": "@pipeline().parameters.tempAzureBlobContainerName",
									"type": "Expression"
								},
								"sourceAzureBlobSingleCsvFolderPath": {
									"value": "@pipeline().parameters.tempAzureBlobFolderPath",
									"type": "Expression"
								},
								"sourceAzureBlobSingleCsvFileName": {
									"value": "@pipeline().parameters.tempAzureBlobFileName",
									"type": "Expression"
								},
								"sinkAzureSqlDatabaseConnectionStringSecretName": {
									"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
									"type": "Expression"
								},
								"truncatePriorToCopy": {
									"value": "@pipeline().parameters.truncatePriorToCopy",
									"type": "Expression"
								},
								"deleteSourceFile": "true",
								"sinkAzureSqlDatabaseTableSchemaName": {
									"value": "@pipeline().parameters.sinkAzureSqlDatabaseTableSchemaName",
									"type": "Expression"
								},
								"sinkAzureSqlDatabaseTableTableName": {
									"value": "@pipeline().parameters.sinkAzureSqlDatabaseTableTableName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"sourceAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"sourceAzureBlobSingleJsonContainerName": {
						"type": "string"
					},
					"sourceAzureBlobSingleJsonFolderPath": {
						"type": "string"
					},
					"sourceAzureBlobSingleJsonFileName": {
						"type": "string"
					},
					"sinkAzureSqlDatabaseConnectionStringSecretName": {
						"type": "string"
					},
					"sinkAzureSqlDatabaseTableSchemaName": {
						"type": "string"
					},
					"sinkAzureSqlDatabaseTableTableName": {
						"type": "string"
					},
					"deleteSourceFile": {
						"type": "bool"
					},
					"truncatePriorToCopy": {
						"type": "string"
					},
					"tempAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"tempAzureBlobContainerName": {
						"type": "string"
					},
					"tempAzureBlobFolderPath": {
						"type": "string"
					},
					"tempAzureBlobFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Source Azure Blob Single Json/Copy"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Example Driver Reading from Json Config source')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Config Values",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "azureBlobSingleJsonFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.configAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleJsonContainerName": {
										"value": "@pipeline().parameters.configAzureBlobSingleJsonContainerName",
										"type": "Expression"
									},
									"azureBlobSingleJsonFolderPath": {
										"value": "@pipeline().parameters.configAzureBlobSingleJsonFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleJsonFileName": {
										"value": "@pipeline().parameters.configAzureBlobSingleJsonFileName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Pipeline Configuration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Config Values",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Config Values').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch Pipeline Name",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().pipelineName",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1Csv2AzBlob1CsvCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1Csv2AzBlob1JsonCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleJsonContainerName": {
																	"value": "@item().parameters.sinkAzureBlobSingleJsonContainerName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleJsonFolderPath": {
																	"value": "@item().parameters.sinkAzureBlobSingleJsonFolderPath",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleJsonFileName": {
																	"value": "@item().parameters.sinkAzureBlobSingleJsonFileName",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1Csv2AzBlob1ParquetCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleParquetContainerName": {
																	"value": "@item().parameters.sinkAzureBlobSingleParquetContainerName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleParquetFolderPath": {
																	"value": "@item().parameters.sinkAzureBlobSingleParquetFolderPath",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleParquetFileName": {
																	"value": "@item().parameters.sinkAzureBlobSingleParquetFileName",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "Azure Blob Single Csv to Azure Sql Database Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1CsvToAzSqlDbCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureSqlDatabaseConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
																	"type": "Expression"
																},
																"truncatePriorToCopy": {
																	"value": "@item().parameters.truncatePriorToCopy",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																},
																"sinkAzureSqlDatabaseTableSchemaName": {
																	"value": "@item().parameters.sinkAzureSqlDatabaseTableSchemaName",
																	"type": "Expression"
																},
																"sinkAzureSqlDatabaseTableTableName": {
																	"value": "@item().parameters.sinkAzureSqlDatabaseTableTableName",
																	"type": "Expression"
																}
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"configAzureBlobSingleJsonContainerName": {
						"type": "string"
					},
					"configAzureBlobSingleJsonFolderPath": {
						"type": "string"
					},
					"configAzureBlobSingleJsonFileName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Config Values",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "azureBlobSingleJsonFileNameDataset",
								"type": "DatasetReference",
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.configAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobSingleJsonContainerName": {
										"value": "@pipeline().parameters.configAzureBlobSingleJsonContainerName",
										"type": "Expression"
									},
									"azureBlobSingleJsonFolderPath": {
										"value": "@pipeline().parameters.configAzureBlobSingleJsonFolderPath",
										"type": "Expression"
									},
									"azureBlobSingleJsonFileName": {
										"value": "@pipeline().parameters.configAzureBlobSingleJsonFileName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Pipeline Configuration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Config Values",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Config Values').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch Pipeline Name",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().pipelineName",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1Csv2AzBlob1CsvCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1Csv2AzBlob1JsonCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleJsonContainerName": {
																	"value": "@item().parameters.sinkAzureBlobSingleJsonContainerName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleJsonFolderPath": {
																	"value": "@item().parameters.sinkAzureBlobSingleJsonFolderPath",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleJsonFileName": {
																	"value": "@item().parameters.sinkAzureBlobSingleJsonFileName",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1Csv2AzBlob1ParquetCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleParquetContainerName": {
																	"value": "@item().parameters.sinkAzureBlobSingleParquetContainerName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleParquetFolderPath": {
																	"value": "@item().parameters.sinkAzureBlobSingleParquetFolderPath",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleParquetFileName": {
																	"value": "@item().parameters.sinkAzureBlobSingleParquetFileName",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "Azure Blob Single Csv to Azure Sql Database Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1CsvToAzSqlDbCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"sinkAzureSqlDatabaseConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureSqlDatabaseTableSchemaName": {
																	"value": "@item().parameters.sinkAzureSqlDatabaseTableSchemaName",
																	"type": "Expression"
																},
																"sinkAzureSqlDatabaseTableTableName": {
																	"value": "@item().parameters.sinkAzureSqlDatabaseTableTableName",
																	"type": "Expression"
																},
																"truncatePriorToCopy": {
																	"value": "@item().parameters.truncatePriorToCopy",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "Azure Blob Single Json to Azure Blob Single Csv Copy Pipeline",
												"activities": [
													{
														"name": "Execute AzBlob1JsonToAzBlob1CsvCopyPipeline",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "Azure Blob Single Json to Azure Blob Single Csv Copy Pipeline",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"sourceAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleJsonContainerName": {
																	"value": "@item().parameters.sourceAzureBlobSingleJsonContainerName",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleJsonFolderPath": {
																	"value": "@item().parameters.sourceAzureBlobSingleJsonFolderPath",
																	"type": "Expression"
																},
																"sourceAzureBlobSingleJsonFileName": {
																	"value": "@item().parameters.sourceAzureBlobSingleJsonFileName",
																	"type": "Expression"
																},
																"sinkAzureBlobConnectionStringSecretName": {
																	"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvContainerName": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvFolderPath": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
																	"type": "Expression"
																},
																"sinkAzureBlobSingleCsvFileName": {
																	"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
																	"type": "Expression"
																},
																"deleteSourceFile": {
																	"value": "@item().parameters.deleteSourceFile",
																	"type": "Expression"
																}
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"configAzureBlobConnectionStringSecretName": {
						"type": "string"
					},
					"configAzureBlobSingleJsonContainerName": {
						"type": "string"
					},
					"configAzureBlobSingleJsonFolderPath": {
						"type": "string"
					},
					"configAzureBlobSingleJsonFileName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}