azuredatafactory/pipeline/Azure Blob Single Json to Azure Sql Database Table Copy Pipeline.json
{
	"name": "Azure Blob Single Json to Azure Sql Database Table Copy Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Source to Sink",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "azureBlobSingleJsonFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleJsonContainerName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleJsonContainerName",
								"type": "Expression"
							},
							"azureBlobSingleJsonFolderPath": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleJsonFileName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "azureSqlDatabaseTableDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureSqlDatabaseConnectionStringSecretName": {
								"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableSchemaName": {
								"value": "@activity('Find or Create Sink Table').output.firstRow.sinkAzureSqlDatabaseTableSchemaName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableTableName": {
								"value": "@activity('Find or Create Sink Table').output.firstRow.sinkAzureSqlDatabaseTableTableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Decide If Delete Original File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Source to Sink",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.deleteSourceFile",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Exec Pipeline Azure Blob Delete Single File",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Azure Blob Delete Single Csv File Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"azureBlobConnectionStringSecretName": {
										"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
										"type": "Expression"
									},
									"azureBlobContainerName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonContainerName",
										"type": "Expression"
									},
									"azureBlobFolderPath": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFolderPath",
										"type": "Expression"
									},
									"azureBlobFileName": {
										"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFileName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Create Flattened CSV Representation of Json Source",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "azureBlobSingleJsonFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleJsonContainerName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleJsonContainerName",
								"type": "Expression"
							},
							"azureBlobSingleJsonFolderPath": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleJsonFileName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleJsonFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "azureBlobSingleCsvFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.tempAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFileName": {
								"value": "@pipeline().parameters.tempAzureBlobFileName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFolderPath": {
								"value": "@pipeline().parameters.tempAzureBlobFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleCSVContainerName": {
								"value": "@pipeline().parameters.tempAzureBlobContainerName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Import CSV from temp storage",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Create Flattened CSV Representation of Json Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceAzureBlobConnectionStringSecretName": {
							"value": "@pipeline().parameters.tempAzureBlobConnectionStringSecretName",
							"type": "Expression"
						},
						"sourceAzureBlobSingleCsvContainerName": {
							"value": "@pipeline().parameters.tempAzureBlobContainerName",
							"type": "Expression"
						},
						"sourceAzureBlobSingleCsvFolderPath": {
							"value": "@pipeline().parameters.tempAzureBlobFolderPath",
							"type": "Expression"
						},
						"sourceAzureBlobSingleCsvFileName": {
							"value": "@pipeline().parameters.tempAzureBlobFileName",
							"type": "Expression"
						},
						"sinkAzureSqlDatabaseConnectionStringSecretName": {
							"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
							"type": "Expression"
						},
						"truncatePriorToCopy": {
							"value": "@pipeline().parameters.truncatePriorToCopy",
							"type": "Expression"
						},
						"deleteSourceFile": "true",
						"sinkAzureSqlDatabaseTableSchemaName": {
							"value": "@pipeline().parameters.sinkAzureSqlDatabaseTableSchemaName",
							"type": "Expression"
						},
						"sinkAzureSqlDatabaseTableTableName": {
							"value": "@pipeline().parameters.sinkAzureSqlDatabaseTableTableName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"sourceAzureBlobConnectionStringSecretName": {
				"type": "string"
			},
			"sourceAzureBlobSingleJsonContainerName": {
				"type": "string"
			},
			"sourceAzureBlobSingleJsonFolderPath": {
				"type": "string"
			},
			"sourceAzureBlobSingleJsonFileName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseConnectionStringSecretName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseTableSchemaName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseTableTableName": {
				"type": "string"
			},
			"deleteSourceFile": {
				"type": "bool"
			},
			"truncatePriorToCopy": {
				"type": "string"
			},
			"tempAzureBlobConnectionStringSecretName": {
				"type": "string"
			},
			"tempAzureBlobContainerName": {
				"type": "string"
			},
			"tempAzureBlobFolderPath": {
				"type": "string"
			},
			"tempAzureBlobFileName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Source Azure Blob Single Json/Copy"
		},
		"annotations": []
	}
}