azuredatafactory/pipeline/Azure Blob Single CSV to Azure SQL Table Data Flow Pipeline.json
{
	"name": "Azure Blob Single CSV to Azure SQL Table Data Flow Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get CSV File Structure",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azureBlobSingleCSVFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFileName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFileName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFolderPath": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleCSVContainerName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Find or Create Sink Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get CSV File Structure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[utils].[sp_FindOrCreateSinkTable_SingleCsvSource]",
						"storedProcedureParameters": {
							"azureBlobSingleCSVContainerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVContainerName",
									"type": "Expression"
								}
							},
							"azureBlobSingleCSVFileName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFileName",
									"type": "Expression"
								}
							},
							"azureBlobSingleCSVFolderPath": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFolderPath",
									"type": "Expression"
								}
							},
							"azureSqlDatabaseTableSchemaName": {
								"type": "String",
								"value": null
							},
							"azureSqlDatabaseTableTableName": {
								"type": "String",
								"value": null
							},
							"MultipleMatches": {
								"type": "Boolean",
								"value": null
							},
							"SuppliedStructure": {
								"type": "String",
								"value": {
									"value": "@{activity('Get CSV File Structure').output.structure}",
									"type": "Expression"
								}
							},
							"azureBlobStorageConnectionStringSecretName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "azureSqlDatabaseTableDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureSqlDatabaseConnectionStringSecretName": {
								"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableSchemaName": "foo",
							"azureSqlDatabaseTableTableName": "bar"
						}
					}
				}
			},
			{
				"name": "Copy Blob Single CSV to Azure SQL Table",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Truncate Sink Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "azureBlobSingleCSVToAzureSqlDatabaseTableDataFlow",
						"type": "DataFlowReference",
						"parameters": {
							"sourceConnectionSecretName": {
								"value": "'@{pipeline().parameters.sourceAzureBlobConnectionStringSecretName}'",
								"type": "Expression"
							},
							"sinkConnectionStringSecretName": {
								"value": "'@{pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName}'",
								"type": "Expression"
							},
							"sourceObjectName": {
								"value": "'@{concat(pipeline().parameters.sourceAzureBlobSingleCSVContainerName,'/', pipeline().parameters.sourceAzureBlobSingleCSVFolderPath,'/', pipeline().parameters.sourceAzureBlobSingleCSVFileName)}'",
								"type": "Expression"
							},
							"sinkObjectName": {
								"value": "'@{concat('[', \nactivity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableSchemaName, \n'].[', activity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableTableName, ']')}'",
								"type": "Expression"
							},
							"dataFactoryName": {
								"value": "'@{pipeline().DataFactory}'",
								"type": "Expression"
							},
							"dataFactoryPipelineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							},
							"dataFactoryPipelineRunId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"truncateTablePriorToCopy": "$truncateTablePriorToCopy"
						},
						"datasetParameters": {
							"readFromAzureBlobSingleCSV": {
								"azureBlobConnectionStringSecretName": {
									"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
									"type": "Expression"
								},
								"azureBlobSingleCSVFileName": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFileName",
									"type": "Expression"
								},
								"azureBlobSingleCSVFolderPath": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFolderPath",
									"type": "Expression"
								},
								"azureBlobSingleCSVContainerName": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVContainerName",
									"type": "Expression"
								}
							},
							"WriteToAzureSqlTable": {
								"azureSqlDatabaseConnectionStringSecretName": {
									"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
									"type": "Expression"
								},
								"azureSqlDatabaseTableSchemaName": {
									"value": "@activity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableSchemaName",
									"type": "Expression"
								},
								"azureSqlDatabaseTableTableName": {
									"value": "@activity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableTableName",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": {
							"value": "@pipeline().parameters.coreCount",
							"type": "Expression"
						},
						"computeType": "General"
					}
				}
			},
			{
				"name": "Truncate Sink Table",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Find or Create Sink Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.truncatePriorToCopy",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Truncate Table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Find or Create Sink Schema and Table Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Azure Sql Database Truncate Table Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"azureSqlDatabaseConnectionStringSecretName": {
										"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
										"type": "Expression"
									},
									"azureSqlDatabaseTableSchemaName": {
										"value": "@activity('Find or Create Sink Schema and Table Name').output.firstRow.azureSqlDatabaseTableSchemaName",
										"type": "Expression"
									},
									"azureSqlDatabaseTableTableName": {
										"value": "@activity('Find or Create Sink Schema and Table Name').output.firstRow, azureSqlDatabaseTableTableName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Source Structure",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "azureBlobSingleCSVFileNameDataset",
									"type": "DatasetReference",
									"parameters": {
										"azureBlobConnectionStringSecretName": {
											"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
											"type": "Expression"
										},
										"azureBlobSingleCSVFileName": {
											"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFileName",
											"type": "Expression"
										},
										"azureBlobSingleCSVFolderPath": {
											"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFolderPath",
											"type": "Expression"
										},
										"azureBlobSingleCSVContainerName": {
											"value": "@pipeline().parameters.sourceAzureBlobSingleCSVContainerName",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"structure"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Find or Create Sink Schema and Table Name",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get Source Structure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[utils].[sp_FindOrCreateSinkTable]",
								"storedProcedureParameters": {
									"multipleMatches": {
										"value": null,
										"type": "Boolean"
									},
									"sinkAzureSqlDatabaseConnectionStringSecretName": {
										"value": {
											"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
											"type": "Expression"
										},
										"type": "String"
									},
									"sinkAzureSqlDatabaseTableSchemaName": {
										"value": "utils",
										"type": "String"
									},
									"sinkAzureSqlDatabaseTableTableName": {
										"value": {
											"value": "@{concat(\n   pipeline().parameters.sourceAzureBlobConnectionStringSecretName, \n   '/', \n   pipeline().parameters.sourceAzureBlobSingleCSVContainerName, \n   '/', \n   pipeline().parameters.sourceAzureBlobSingleCSVFolderPath, \n   '/', \n   pipeline().parameters.sourceAzureBlobSingleCSVFileName, \n   '/', \n   utcNow()\n)}",
											"type": "Expression"
										},
										"type": "String"
									},
									"suppliedStructure": {
										"value": {
											"value": "@activity('Get Source Structure').output.structure",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azureSqlDatabaseLinkedService",
								"type": "LinkedServiceReference",
								"parameters": {
									"azureSqlDatabaseConnectionStringSecretName": {
										"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceAzureBlobConnectionStringSecretName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseConnectionStringSecretName": {
				"type": "string"
			},
			"sourceAzureBlobSingleCSVFileName": {
				"type": "string"
			},
			"sourceAzureBlobSingleCSVFolderPath": {
				"type": "string"
			},
			"sourceAzureBlobSingleCSVContainerName": {
				"type": "string"
			},
			"truncatePriorToCopy": {
				"type": "bool"
			},
			"coreCount": {
				"type": "int"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}