azuredatafactory/pipeline/Azure Blob Single CSV to Azure SQL Table Copy Pipeline.json
{
	"name": "Azure Blob Single CSV to Azure SQL Table Copy Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get CSV File Structure",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azureBlobSingleCSVFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFileName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFileName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFolderPath": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleCSVContainerName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Find or Create Sink Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get CSV File Structure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "azureSqlDatabaseTableDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureSqlDatabaseConnectionStringSecretName": {
								"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableSchemaName": "foo",
							"azureSqlDatabaseTableTableName": "bar"
						}
					}
				}
			},
			{
				"name": "Copy Blob Single CSV to Azure SQL Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Find or Create Sink Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{\n   if(\n      pipeline().parameters.truncatePriorToCopy, \n      concat(\n         'TRUNCATE TABLE [', \n         activity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableSchemaName, \n         '].[', \n         activity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableTableName, \n         ']'\n      ), \n      null\n   )\n}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "azureBlobSingleCSVFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFileName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFileName",
								"type": "Expression"
							},
							"azureBlobSingleCSVFolderPath": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleCSVContainerName": {
								"value": "@pipeline().parameters.sourceAzureBlobSingleCSVContainerName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "azureSqlDatabaseTableDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureSqlDatabaseConnectionStringSecretName": {
								"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableSchemaName": {
								"value": "@activity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableSchemaName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableTableName": {
								"value": "@activity('Find or Create Sink Table').output.firstRow.azureSqlDatabaseTableTableName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"sourceAzureBlobConnectionStringSecretName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseConnectionStringSecretName": {
				"type": "string"
			},
			"sourceAzureBlobSingleCSVFileName": {
				"type": "string"
			},
			"sourceAzureBlobSingleCSVFolderPath": {
				"type": "string"
			},
			"sourceAzureBlobSingleCSVContainerName": {
				"type": "string"
			},
			"truncatePriorToCopy": {
				"type": "bool"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}