azuredatafactory/pipeline/Azure SQL Table to Azure SQL Table.json
{
	"name": "Azure SQL Table to Azure SQL Table",
	"properties": {
		"activities": [
			{
				"name": "Get Source Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azureSqlDatabaseTableDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureSqlDatabaseConnectionStringSecretName": {
								"value": "@pipeline().parameters.sourceAzureSqlDatabaseConnectionStringSecretName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableSchemaName": {
								"value": "@pipeline().parameters.sourceAzureSqlDatabaseTableSchemaName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableTableName": {
								"value": "@pipeline().parameters.sourceAzureSqlDatabaseTableTableName",
								"type": "Expression"
							}
						}
					},
					"fieldList": []
				}
			},
			{
				"name": "Find or Create Sink Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Source Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[utils].[sp_FindOrCreateSinkTable_AzureSqlDatabaseTableSource]",
						"storedProcedureParameters": {
							"azureBlobSingleCSVContainerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVContainerName",
									"type": "Expression"
								}
							},
							"azureBlobSingleCSVFileName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFileName",
									"type": "Expression"
								}
							},
							"azureBlobSingleCSVFolderPath": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobSingleCSVFolderPath",
									"type": "Expression"
								}
							},
							"azureSqlDatabaseTableSchemaName": {
								"type": "String",
								"value": null
							},
							"azureSqlDatabaseTableTableName": {
								"type": "String",
								"value": null
							},
							"MultipleMatches": {
								"type": "Boolean",
								"value": null
							},
							"SuppliedStructure": {
								"type": "String",
								"value": {
									"value": "@{activity('Get CSV File Structure').output.structure}",
									"type": "Expression"
								}
							},
							"azureBlobStorageConnectionStringSecretName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourceAzureBlobConnectionStringSecretName",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "azureSqlDatabaseTableDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureSqlDatabaseConnectionStringSecretName": {
								"value": "@pipeline().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
								"type": "Expression"
							},
							"azureSqlDatabaseTableSchemaName": "foo",
							"azureSqlDatabaseTableTableName": "bar"
						}
					}
				}
			}
		],
		"parameters": {
			"sourceAzureSqlDatabaseConnectionStringSecretName": {
				"type": "string"
			},
			"sourceAzureSqlDatabaseTableSchemaName": {
				"type": "string"
			},
			"sourceAzureSqlDatabaseTableTableName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseConnectionStringSecretName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseTableSchemaName": {
				"type": "string"
			},
			"sinkAzureSqlDatabaseTableTableName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}