azuredatafactory/pipeline/Example Driver Reading from Json Config source.json
{
	"name": "Example Driver Reading from Json Config source",
	"properties": {
		"activities": [
			{
				"name": "Get Config Values",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "azureBlobSingleJsonFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.configAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleJsonContainerName": {
								"value": "@pipeline().parameters.configAzureBlobSingleJsonContainerName",
								"type": "Expression"
							},
							"azureBlobSingleJsonFolderPath": {
								"value": "@pipeline().parameters.configAzureBlobSingleJsonFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleJsonFileName": {
								"value": "@pipeline().parameters.configAzureBlobSingleJsonFileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Pipeline Configuration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Config Values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Config Values').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch Pipeline Name",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().pipelineName",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1Csv2AzBlob1CsvCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1Csv2AzBlob1JsonCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1Csv2AzBlob1ParquetCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1CsvToAzSqlDbCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"truncatePriorToCopy": {
															"value": "@item().parameters.truncatePriorToCopy",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Json to Azure Blob Single Csv Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1JsonToAzBlob1CsvCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Json to Azure Blob Single Csv Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Json to Azure Blob Single Json Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1Json2AzBlob1JsonCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Json to Azure Blob Single Json Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Json to Azure Blob Single Parquet Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1Json2AzBlob1ParquetCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Json to Azure Blob Single Parquet Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Json to Azure Sql Database Table Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1JsonToAzSqlDbCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Json to Azure Sql Database Table Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"truncatePriorToCopy": {
															"value": "@item().parameters.truncatePriorToCopy",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Parquet to Azure Blob Single Csv Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1ParquetToAzBlob1CsvCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Parquet to Azure Blob Single Csv Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Parquet to Azure Blob Single Json Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1Parquet2AzBlob1JsonCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Parquet to Azure Blob Single Json Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Parquet to Azure Blob Single Parquet Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1Parquet2AzBlob1ParquetCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Parquet to Azure Blob Single Parquet Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Blob Single Parquet to Azure Sql Database Table Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzBlob1ParquetToAzSqlDbCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Blob Single Parquet to Azure Sql Database Table Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sourceAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sourceAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"truncatePriorToCopy": {
															"value": "@item().parameters.truncatePriorToCopy",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Sql Database Table to Azure Blob Single Csv Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzSqlDbToAzBlob1CsvCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Sql Database Table to Azure Blob Single Csv Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleCsvFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Sql Database Table to Azure Blob Single Json Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzSqlDb2AzBlob1JsonCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Sql Database Table to Azure Blob Single Json Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleJsonFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleJsonFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Sql Database Table to Azure Blob Single Parquet Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzSqlDb2AzBlob1ParquetCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Sql Database Table to Azure Blob Single Parquet Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"sinkAzureBlobConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetContainerName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetContainerName",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFolderPath": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFolderPath",
															"type": "Expression"
														},
														"sinkAzureBlobSingleParquetFileName": {
															"value": "@item().parameters.sinkAzureBlobSingleParquetFileName",
															"type": "Expression"
														},
														"deleteSourceFile": {
															"value": "@item().parameters.deleteSourceFile",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Azure Sql Database Table to Azure Sql Database Table Copy Pipeline",
										"activities": [
											{
												"name": "Execute AzSqlDbToAzSqlDbCopyPipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Azure Sql Database Table to Azure Sql Database Table Copy Pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"sourceAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sourceAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sourceAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseConnectionStringSecretName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableSchemaName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableSchemaName",
															"type": "Expression"
														},
														"sinkAzureSqlDatabaseTableTableName": {
															"value": "@item().parameters.sinkAzureSqlDatabaseTableTableName",
															"type": "Expression"
														},
														"truncatePriorToCopy": {
															"value": "@item().parameters.truncatePriorToCopy",
															"type": "Expression"
														}
													}
												}
											}
										]
									}										
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"configAzureBlobConnectionStringSecretName": {
				"type": "string"
			},
			"configAzureBlobSingleJsonContainerName": {
				"type": "string"
			},
			"configAzureBlobSingleJsonFolderPath": {
				"type": "string"
			},
			"configAzureBlobSingleJsonFileName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}