azuredatafactory/pipeline/Example Driver Reading from Json Config source.json
{
	"name": "Example Driver Reading from Json Config source",
	"properties": {
		"activities": [
			{
				"name": "Get Config Values",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "azureBlobSingleJsonFileNameDataset",
						"type": "DatasetReference",
						"parameters": {
							"azureBlobConnectionStringSecretName": {
								"value": "@pipeline().parameters.configAzureBlobConnectionStringSecretName",
								"type": "Expression"
							},
							"azureBlobSingleJsonContainerName": {
								"value": "@pipeline().parameters.configAzureBlobSingleJsonContainerName",
								"type": "Expression"
							},
							"azureBlobSingleJsonFolderPath": {
								"value": "@pipeline().parameters.configAzureBlobSingleJsonFolderPath",
								"type": "Expression"
							},
							"azureBlobSingleJsonFileName": {
								"value": "@pipeline().parameters.configAzureBlobSingleJsonFileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Pipeline Configuration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Config Values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Config Values').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Pipeline AzBlob1Csv2AzBlob1CsvCopy",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(\n   item().parameters.PipelineName, \n   'Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline'\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute AzBlob1Csv2AzBlob1CsvCopy",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Azure Blob Single Csv to Azure Blob Single Csv Copy Pipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sourceAzureBlobConnectionStringSecretName": {
													"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvContainerName": {
													"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvFolderPath": {
													"value": "item().parameters.sourceAzureBlobSingleCsvFolderPath",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvFileName": {
													"value": "item().parameters.sourceAzureBlobSingleCsvFileName",
													"type": "Expression"
												},
												"sinkAzureBlobConnectionStringSecretName": {
													"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
													"type": "Expression"
												},
												"sinkAzureBlobSingleCsvContainerName": {
													"value": "@item().parameters.sinkAzureBlobSingleCsvContainerName",
													"type": "Expression"
												},
												"sinkAzureBlobSingleCsvFolderPath": {
													"value": "@item().parameters.sinkAzureBlobSingleCsvFolderPath",
													"type": "Expression"
												},
												"sinkAzureBlobSingleCsvFileName": {
													"value": "@item().parameters.sinkAzureBlobSingleCsvFileName",
													"type": "Expression"
												},
												"deleteSourceFile": {
													"value": "@item().parameters.deleteSourceFile",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "If Pipeline AzBlob1Csv2AzBlob1JsonCopy",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(\n   item().parameters.PipelineName, \n   'Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline'\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute AzBlob1Csv2AzBlob1JsonCopy",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Azure Blob Single Csv to Azure Blob Single Json Copy Pipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sourceAzureBlobConnectionStringSecretName": {
													"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvContainerName": {
													"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvFolderPath": {
													"value": "@item().parameters.sourceAzureBlobSingleCsvFolderPath",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvFileName": {
													"value": "@item().parameters.sourceAzureBlobSingleCsvFileName",
													"type": "Expression"
												},
												"sinkAzureBlobConnectionStringSecretName": {
													"value": "@item().parameters.sinkAzureBlobConnectionStringSecretName",
													"type": "Expression"
												},
												"sinkAzureBlobSingleJsonContainerName": {
													"value": "@item().parameters.sinkAzureBlobSingleJsonContainerName",
													"type": "Expression"
												},
												"sinkAzureBlobSingleJsonFolderPath": {
													"value": "@item().parameters.sinkAzureBlobSingleJsonFolderPath",
													"type": "Expression"
												},
												"sinkAzureBlobSingleJsonFileName": {
													"value": "@item().parameters.sinkAzureBlobSingleJsonFileName",
													"type": "Expression"
												},
												"deleteSourceFile": {
													"value": "@item().parameters.deleteSourceFile",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "If Pipeline AzBlob1Csv2AzBlob1ParquetCopyPipeline",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(\n   item().parameters.pipelineName, \n   'Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline'\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute AzBlob1Csv2AzBlob1ParquetCopyPipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Azure Blob Single Csv to Azure Blob Single Parquet Copy Pipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								]
							}
						},
						{
							"name": "If Pipeline AzBlob1Csv2AzSqlDbCopyPipeline",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(\n   item().parameters.pipelineName, \n   'Azure Blob Single Csv To Azure Sql Database Table Copy Pipeline'\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute AzBlob1CsvToAzSqlDbCopyPipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Azure Blob Single Csv to Azure Sql Database Table Copy Pipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sourceAzureBlobConnectionStringSecretName": {
													"value": "@item().parameters.sourceAzureBlobConnectionStringSecretName",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvContainerName": {
													"value": "@item().parameters.sourceAzureBlobSingleCsvContainerName",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvFolderPath": {
													"value": "item().parameters.sourceAzureBlobSingleCsvFolderPath",
													"type": "Expression"
												},
												"sourceAzureBlobSingleCsvFileName": {
													"value": "item().parameters.sourceAzureBlobSingleCsvFileName",
													"type": "Expression"
												},
												"sinkAzureSqlDatabaseConnectionStringSecretName": {
													"value": "item().parameters.sinkAzureSqlDatabaseConnectionStringSecretName",
													"type": "Expression"
												},
												"truncatePriorToCopy": {
													"value": "item().parameters.trucatePriorToCopy",
													"type": "Expression"
												},
												"deleteSourceFile": {
													"value": "item().parameters.deleteSourceFile",
													"type": "Expression"
												},
												"sinkAzureSqlDatabaseTableSchemaName": {
													"value": "item().parameters.sinkAzureSqlDatabaseTableSchemaName",
													"type": "Expression"
												},
												"sinkAzureSqlDatabaseTableTableName": {
													"value": "item().parameters.sinkAzureSqlDatabaseTableTableName",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"configAzureBlobConnectionStringSecretName": {
				"type": "string"
			},
			"configAzureBlobSingleJsonContainerName": {
				"type": "string"
			},
			"configAzureBlobSingleJsonFolderPath": {
				"type": "string"
			},
			"configAzureBlobSingleJsonFileName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}